// Paleta de cores
$primary-color: #1a5276; // Azul escuro
$secondary-color: #2e86c1; // Azul
$accent-color: #48c9b0; // Verde azulado
$light-color: #ecf0f1;
$dark-color: #2c3e50;

// Breakpoints
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;