    <div class="home-container">
      <!-- Hero Section -->
      <section
        class="hero d-flex align-items-center justify-content-center text-center text-white"
      >
        <div class="container">
          <h1 class="wedding-couple">
            <span class="cursive">Kauã</span>
            <span class="cursive">&</span>
            <span class="cursive">Kimily</span>
            <svg class="heart-svg" viewBox="0 0 32 29.6">
              <path
                d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
        C22.5,20.3,32,17.8,32,8.4C32,3.8,28.2,0,23.6,0z"
              />
            </svg>
          </h1>
          <p class="fs-4 mb-5">15 DE NOVEMBRO DE 2025</p>

          <div class="row justify-content-center countdown-container">
            <div class="col-2">
              <div class="countdown-item">
                <span class="count-number cursive">{{ countdown.days }}</span>
                <span class="label">Dias</span>
              </div>
            </div>
            <div class="col-auto d-flex align-items-center">
              <span class="timer-separator">:</span>
            </div>

            <div class="col-2">
              <div class="countdown-item">
                <span class="count-number cursive">{{ countdown.hours }}</span>
                <span class="label">Horas</span>
              </div>
            </div>
            <div class="col-auto d-flex align-items-center">
              <span class="timer-separator">:</span>
            </div>

            <div class="col-2">
              <div class="countdown-item">
                <span class="count-number cursive">{{
                  countdown.minutes
                }}</span>
                <span class="label">Min</span>
              </div>
            </div>
            <div class="col-auto d-flex align-items-center">
              <span class="timer-separator">:</span>
            </div>
            <div class="col-2">
              <div class="countdown-item">
                <span class="count-number cursive">{{
                  countdown.seconds
                }}</span>
                <span class="label">Seg</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Welcome Section -->
      <section class="py-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="display-5 mb-4">
                Bem-vindos ao nosso site de casamento!
              </h2>
              <p class="lead mb-5">
                Estamos muito felizes em compartilhar este momento especial com
                vocês. Aqui você encontrará todas as informações sobre nosso
                grande dia.
              </p>
            </div>
          </div>

          <div class="row g-4">
            <div class="col">
              <a
                routerLink="/cerimonia"
                class="card h-100 text-decoration-none card-hover"
              >
                <div class="card-body text-center py-4">
                  <div class="card-icon mb-3">
                    <i class="fas fa-church fa-3x text-primary"></i>
                  </div>
                  <h3 class="card-title h5">Cerimônia</h3>
                  <p class="card-text text-muted">
                    Detalhes sobre a cerimônia
                  </p>
                </div>
              </a>
            </div>

            <!-- <div class="col ">
              <a
                routerLink="/festa"
                class="card h-100 text-decoration-none card-hover"
              >
                <div class="card-body text-center py-4">
                  <div class="card-icon mb-3">
                    <i class="fas fa-glass-cheers fa-3x text-primary"></i>
                  </div>
                  <h3 class="card-title h5">Festa</h3>
                  <p class="card-text text-muted">
                    Informações sobre a recepção
                  </p>
                </div>
              </a>
            </div> -->
            <!--
            <div class="col-md-6 col-lg-3">
              <a
                routerLink="/presentes"
                class="card h-100 text-decoration-none card-hover"
              >
                <div class="card-body text-center py-4">
                  <div class="card-icon mb-3">
                    <i class="fas fa-gift fa-3x text-primary"></i>
                  </div>
                  <h3 class="card-title h5">Presentes</h3>
                  <p class="card-text text-muted">Nossa lista de presentes</p>
                </div>
              </a>
            </div> -->
            <!--
            <div class="col-md-6 col-lg-3">
              <a
                routerLink="/confirmar"
                class="card h-100 text-decoration-none card-hover"
              >
                <div class="card-body text-center py-4">
                  <div class="card-icon mb-3">
                    <i class="fas fa-calendar-check fa-3x text-primary"></i>
                  </div>
                  <h3 class="card-title h5">Confirmar Presença</h3>
                  <p class="card-text text-muted">Confirme sua presença aqui</p>
                </div>
              </a>
            </div> -->
          </div>
        </div>
      </section>
    </div>
